<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/css/admindashboard.css" />
</head>
<body>
  <div class="sidebar">
    <div>
      <div class="brand">
      <img src="/images/logo1.png" alt="Logo" class="logo" />
      <h2>Sherubtse<br/>Media Society</h2>
    </div>
      <h1>Admin Dashboard</h1>
      <nav>
        <ul>
          <li><a href="/adminnews">News</a></li>
          <li><a href="/admingallery">Gallery</a></li>
          <li><a href="/adminfeedback">Feedback</a></li>
          <li><a href="/adminmembership">Membership</a></li>
        </ul>
      </nav>
    </div>
    <a href="/logout" class="logout-btn">Logout</a>
  </div>

  <div class="main-content">
    <div class="welcome-section">
      <h2>Welcome, Admin!</h2>
      <img src="/images/n_1.png" alt="Admin Photo" class="admin-photo" />
    </div>
  </div>
</body>
</html>
